################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TestRepositoryCode001/TestRepositoryCode001/bin/Debug/net8.0
/TestRepositoryCode001/TestRepositoryCode001/obj
/TestRepositoryCode001/.vs/TestRepositoryCode001
